html {
  --body-color: #000000;
  --header-color: #ffffff;
  --header-button: #92a1d1;
  --color-weekdays: #ffffff;
  --box-shadow: #CBD4C2;
  --hover: #6c1d93;
  --current-day: #e8f4fa;
  --event-color: #000000;
  --modal-event: #6c1d93;
  --color-day: white;
}

body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: var(--body-color);
}

button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: var(--header-color);
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#header button {
  background-color: var(--header-button);
}

#container {
  width: 100%;
  max-width: 600px; /* Adicionado limite máximo para telas de até 600 pixels */
  box-sizing: border-box; /* Garante que a largura inclua padding e bordas */
}

#diasSemana {
  width: 100%;
  display: flex;
  color: var(--color-weekdays);
  flex-wrap: wrap; /* Permite que os dias da semana se ajustem em telas pequenas */
}

#diasSemana div {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; /* Garante que a largura inclua padding e bordas */
}

#calendario {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.dia {
  width: calc(33.33% - 10px); /* Ajusta a largura para 33.33% com espaço entre os dias */
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: var(--color-day);
  margin: 5px;
  box-shadow: 0px 0px 3px var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15%;
}

.dia:hover {
  background-color: var(--hover);
}

.dia + #currentDay {
  background-color: var(--current-day);
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: var(--event-color);
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: var(--body-color) !important;
  box-shadow: none !important;
}

#modalNovoEvento,
#modalDeleteEvento {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: var(--modal-event);
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 100%;
  max-width: 600px; /* Adicionado limite máximo para telas de até 600 pixels */
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  font-family: sans-serif;
}
#modalNovoEvento h2 {
  color: white;
}

#tituloCaixaEvento {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#tituloCaixaEvento.error {
  border: 2px solid red;
}

#botaoCancelar,
#botaoDeletar {
  background-color: var(--body-color);
}

#botaoSalvar,
#botaoFechar {
  background-color: var(--body-color);
}

#textoEvento {
  font-size: 14px;
}
#modalDeleteEvento h2 {
  color: white;
}
#textoEvento {
  color: white;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
